* {
    margin: 0;
    padding: 0;
    font-family: 'Amazon Ember', sans-serif;
    font-family: 'Amazon Ember Cd RC', sans-serif;
    font-family: 'Amazon Ember Display', sans-serif;
    font-family: 'Amazon Ember Duospace', sans-serif;
    font-family: 'Amazon Ember Mono', sans-serif;
    font-family: 'Amazon Ember V2', sans-serif;
}


.loc-box{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.304);
    width: 1700px;
    height: 100%;
    z-index: 1;
  }
  .loc-box1{
    position: absolute;
    background-color: white;
    height: 372px;
    width: 372px;
    top: 200px;
  left: 584px;
  border-radius: 10px;
  }
 .loc-box2{
  position: absolute;
border: 1px solid rgb(217, 215, 215);
  width: 370px;
  height: 60px;
  border-radius: 10px 10px 0px 0px;
  background-color:#f0f2f2;
 }
 .choose{
  position: absolute;
  font-size: 16px;
  color: rgb(15, 17, 17);
  top: 23px;
  left: 24px;
  font-weight: 700;
 }
 .del{
  position: absolute;
  font-size: 13px;
  top: 83px;
  color: #565959;
  left: 22px;

 }
 .btn-3{
  position: absolute;
  top: 120px;
  left: 20px;
  width: 332px;
  height: 33px;
  border-radius: 10px;
  background-color: #ffd814;
 }
 .btn-login{
  text-decoration: none;
  color:  rgb(15, 17, 17);
 }
 .btn-3:hover{
background-color: rgb(235, 204, 80);
 }

 .zip-code{
  position: absolute;
  top: 165px;
  font-size: 12px;
  left: 131px;
  color: #565959;
 }
 .gaar-1{
  position: absolute;
  top: 160px;
  font-size: 12px;
  left: 23px;
  color: #565959;
 }
 .gaar-2{
  position: absolute;
  top: 160px;
  font-size: 12px;
  left: 258px;
  color: #565959;
 }
 .place-holder{
  position: absolute;
  height: 30px;
  width: 210px;
  top: 188px;
  left: 22px;
  border: 1px solid rgb(137, 137, 137);
  border-radius: 5px;
 }
 .apply{
  position: absolute;
  height: 33px;
  width: 107px;
  border-radius: 10px;
  border: 1px solid rgb(137, 137, 137);
  top: 187px;
  left: 241px;
  background-color: white;
 }
 .apply:hover{
  background-color: #f6f9f9;;
 }
 .gaar-3{
  position: absolute;
  top: 225px;
  font-size: 12px;
  left: 24px;
  color: #565959;
 }
 .gaar-4{
  position: absolute;
  top: 225px;
  font-size: 12px;
  left: 201px;
  color: #565959;
 }
 .or{
  position: absolute;
  top: 230px;
  font-size: 12px;
  left: 185px;
  color: #565959;
 }
 .countries{
  position: absolute;
  top: 254px;
  left: 20px;
  width: 329px;
  height: 33px;
  border: 1px solid rgb(137, 137, 137);
  border: none;
  border-radius: 10px;
  background-color:#f0f2f2;
 }
 .countries:hover{
  background-color: #e3e6e6;
 }
 .done{
  position: absolute;
  height: 33px;
  width: 65px;
  border-radius: 10px;
  border: 1px solid rgb(137, 137, 137);
  top: 309px;
  left: 280px;
  border: none;
  background-color: #ffd814;
 }
 .done:hover{
  background-color: rgb(235, 204, 80);;
   }